asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
python-dotenv
psycopg2-binary
requests
reportlab
torch 
torchvision 
torchaudio
rasterstats
rasterio
pandas
timm
pyproj
matplotlib 
georaster
geopandas 
scipy 
scikit-learn 
seaborn 