asgiref
django==4.2  
celery==5.3.6
redis==5.0.1
openpyxl
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
Pillow
python-dotenv
psycopg2-binary
requests
reportlab
torch 
torchvision 
torchaudio
rasterstats
rasterio
pandas
timm
pyproj
matplotlib 
georaster
geopandas 
scipy 
scikit-learn 
seaborn 
django-celery-beat
celery
dj-database-url